@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.MuiPaper-root {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.MuiTypography-h5, .MuiTypography-h6 {
  color: #333;
}

.MuiTypography-body1, .MuiTypography-body2 {
  color: #666;
}

.MuiButton-containedPrimary {
  background-color: #007bff;
  color: white;
}

.MuiButton-containedPrimary:hover {
  background-color: #0056b3;
}

.MuiIconButton-root {
  color: #007bff;
}

.MuiIconButton-root:hover {
  color: #0056b3;
}
